@font-face {
  font-family: 'GROBOLD';
  font-style: normal;
  font-weight: normal;
  src: local('GROBOLD'), url('../public/font/GROBOLD.woff') format('woff');
}

body {
  font-family: 'Poppins', sans-serif !important;
}

.detail-section {
  background-color: #1c056a;
}

.meet-section {
  background-color: #10033b;
}

.top-section {
  background-color: #1c056a;
}

/* .nav-section .banner-title h1 {
  font-family: GROBOLD;
}

.section-title h2 {
  font-family: GROBOLD;
}

.slider-title {
  font-family: GROBOLD;
} */

.nav-section {
  background-image: url('../public/img/banner.jpg');
}

.roadmap-block {
  background-image: url('../public/img/roadmap/Path-1235.png');
  background-repeat: no-repeat;
}